<div class="container-fluid" style="padding-left: 0px; padding-right: 0px;">
  <div class="row">
    <div class="col-md-12">
      <p>Check out some more:</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <a href="/samanth-subramanian">
        <img src="/images/posts/samanth.jpg" alt="..." class="img-rounded">
        <span style="font-size: 14px;">Samanth Subramanian</span><br><span style="font-size: 12px;">Correspondent for the The National</span>
      </a>
    </div>
    <div class="col-md-4">
      <a href="/anjali-ramachandran">
          <img src="/images/posts/anjali.jpg" alt="..." class="img-rounded">
          <span style="font-size: 14px;">Anjali Ramachandran</span><br><span style="font-size: 12px;">PHD, Ada’s List, Other Valleys newsletter</span>
        </a>
    </div>
    <div class="col-md-4">
      <a href="/gerald-vanderpuye">
        <img src="/images/posts/gerald.jpg" alt="..." class="img-rounded">
        <span style="font-size: 14px;">Gerald Vanderpuye</span><br><span style="font-size: 12px;">Rackspace, founder of BuyerDeck</span>
      </a>
    </div> 
  </div>
</div>